@font-face {
    font-family: 'Joao';
    src: url('./Joao-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Joao', sans-serif;
    font-size: 26px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
}

header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center; /* Center the text horizontally */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the items horizontally */
}

h1 {
    font-size: 80px; /* Adjust the font size as needed */
    margin: 0; /* Remove margin to ensure h1 is centered properly */
}

.heart1 {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    margin: 0 10px; /* Add margin to hearts for spacing */
}


nav {
    display: flex;
    justify-content: center;
    background-color: #ddd;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease; /* Add transition for a smooth effect */
}

nav a:hover {
    color: #ff0000; /* Change the color to your desired hover effect color */
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.image-container {
    text-align: center;
}

img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: auto;
}

p {
    /* Add your desired font properties here */
    font-size: 50px;
    font-weight: normal;
}

/* Added styles for the popup container */
#popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Your existing styles */

/* New styles for the snowfall effect */
.snowflake {
    position: fixed;
    background: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.heart2 {
    width: 40px;
    height: 40px;
}

.jar {
    width: 1000px;
    height: 600px;
}

body {
    overflow: hidden;
    position: relative;
}

.firefly {
    position: absolute;
    background-color: yellow;
    width: 12px; /* Increase the size */
    height: 12px; /* Increase the size */
    border-radius: 50%;
    animation: fireflyAnimation linear infinite;
    opacity: 0;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Add a shining effect */
}

@keyframes fireflyAnimation {
    0% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
    50% {
        opacity: 0.8;
        transform: translateY(-30px) translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

